{{- if eq .chezmoi.os "darwin" -}}
macos
{{- else if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "bazzite" -}}
bazzite
{{-   else if eq .chezmoi.osRelease.id "arch" -}}
arch
{{-   else -}}
linux
{{-   end -}}
{{- else -}}
other
{{- end -}}
